@media (min-width: 614px) {
  .barra_inferior_mobile,
  .topo_mobile,
  .barra_inferior,
  .stories {
    display: none;
  }

  .conteudo_total {
    padding-top: 54px;
  }

  .barra_pesquisar {
    width: 215px;
    height: 28px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .barra_pesquisar p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
  }

  .topo_desktop_esquerda {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 168px;
    margin-left: 7px;
  }

  .barra_icone {
    background-color: #dbdbdb;
    height: 23px;
    width: 1px;
  }

  .icone {
    margin-left: 12px;
  }

  .icones_direita {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;
    width: 168px;
  }

  .stories {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    max-width: 614px;
    border-radius: 3px;
  }

  .publicacao {
    max-width: 614px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    margin-top: 22px;
    margin-bottom: 44px;
  }

  .likes {
    margin-bottom: 14px;
  }
  .publicacao {
    position: relative;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stories {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .org_stories {
    position: relative;
    width: 614px;
    height: 118px;
    margin-bottom: 49px;
    margin-top: -17px;
  }

  .stories_inside,
  .stories :nth-child(1),
  .stories p {
    margin-left: 8px;
  }

  .story {
    margin-right: 6.6px;
    margin-top: -13px;
  }

  .setinha {
    position: absolute;
    right: 6.5px;
    top: 48px;
    z-index: 5;
    text-shadow: #979797;
  }
  .topo_desktop {
    background-color: #ffffff;
  }

  .img_publicacao {
    width: 614px;
  }

  .icone_instagram {
    font-size: 20px;
  }
}

@media (max-width: 935px) and (min-width: 614px) {
  .sidebar {
    display: none;
  }
  .topo_desktop_conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
  }

  .topo_desktop {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dbdbdb;
    height: 54px;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  .barra_icone {
    margin-right: 0px;
  }
  .topo_desktop_esquerda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    margin-left: 22px;
  }
}
